[Service]
ExecStart=
ExecStart=/usr/local/bin/pacd --network ${PACD_NETWORK} --datadir ${PACD_DATADIR} --rpc --rpclisten ${PACD_RPC_LISTEN} --rpctoken=${PACD_RPC_TOKEN} --submitblocklog=${PACD_SUBMITBLOCK_LOG} --p2p --listen ${PACD_P2P_LISTEN} --maxpeers ${PACD_MAX_PEERS} --stratum=${PACD_STRATUM} --stratumlisten=${PACD_STRATUM_LISTEN} --stratumaddress=${PACD_STRATUM_ADDRESS} --stratumdiff=${PACD_STRATUM_DIFF} --stratumrefresh=${PACD_STRATUM_REFRESH} --connect server1.pingancoin.org:9508 --connect server2.pingancoin.org:9508 --connect server3.pingancoin.org:9508
